version: "3.9"

services:
  backend:
    build: ./backend
    container_name: simple-backend
    ports:
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: simple-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
